/****** Object:  Table [SpendMD].[wrProductSubcategory]    Script Date: 7/17/2024 10:00:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SpendMD].[wrProductSubcategory](
	[ProductSubcategoryKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductSubcategoryAlternateKey] [int] NULL,
	[EnglishProductSubcategoryName] [nvarchar](50) NOT NULL,
	[SpanishProductSubcategoryName] [nvarchar](50) NOT NULL,
	[FrenchProductSubcategoryName] [nvarchar](50) NOT NULL,
	[ProductCategoryKey] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [SpendMD].[wrProductSubcategory] ON 

INSERT [SpendMD].[wrProductSubcategory] ([ProductSubcategoryKey], [ProductSubcategoryAlternateKey], [EnglishProductSubcategoryName], [SpanishProductSubcategoryName], [FrenchProductSubcategoryName], [ProductCategoryKey]) VALUES (1, 1, N'Mountain Bikes', N'Bicicleta de montaña', N'VTT', 1)
INSERT [SpendMD].[wrProductSubcategory] ([ProductSubcategoryKey], [ProductSubcategoryAlternateKey], [EnglishProductSubcategoryName], [SpanishProductSubcategoryName], [FrenchProductSubcategoryName], [ProductCategoryKey]) VALUES (2, 2, N'Road Bikes', N'Bicicleta de carretera', N'Vélo de route', 1)
INSERT [SpendMD].[wrProductSubcategory] ([ProductSubcategoryKey], [ProductSubcategoryAlternateKey], [EnglishProductSubcategoryName], [SpanishProductSubcategoryName], [FrenchProductSubcategoryName], [ProductCategoryKey]) VALUES (3, 3, N'Touring Bikes', N'Bicicleta de paseo', N'Vélo de randonnée', 1)
SET IDENTITY_INSERT [SpendMD].[wrProductSubcategory] OFF
GO
