/****** Object:  Table [SpendMD].[wrProductCategory]    Script Date: 7/17/2024 10:00:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SpendMD].[wrProductCategory](
	[ProductCategoryKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryAlternateKey] [int] NULL,
	[EnglishProductCategoryName] [nvarchar](50) NOT NULL,
	[SpanishProductCategoryName] [nvarchar](50) NOT NULL,
	[FrenchProductCategoryName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [SpendMD].[wrProductCategory] ON 

INSERT [SpendMD].[wrProductCategory] ([ProductCategoryKey], [ProductCategoryAlternateKey], [EnglishProductCategoryName], [SpanishProductCategoryName], [FrenchProductCategoryName]) VALUES (1, 1, N'Bikes', N'Bicicleta', N'Vélo')
INSERT [SpendMD].[wrProductCategory] ([ProductCategoryKey], [ProductCategoryAlternateKey], [EnglishProductCategoryName], [SpanishProductCategoryName], [FrenchProductCategoryName]) VALUES (2, 2, N'Components', N'Componente', N'Composant')
INSERT [SpendMD].[wrProductCategory] ([ProductCategoryKey], [ProductCategoryAlternateKey], [EnglishProductCategoryName], [SpanishProductCategoryName], [FrenchProductCategoryName]) VALUES (3, 3, N'Clothing', N'Prenda', N'Vêtements')
SET IDENTITY_INSERT [SpendMD].[wrProductCategory] OFF
GO
