/****** Object:  Table [SpendMD].[wrReseller]    Script Date: 7/17/2024 10:00:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SpendMD].[wrReseller](
	[ResellerKey] [int] IDENTITY(1,1) NOT NULL,
	[GeographyKey] [int] NULL,
	[ResellerAlternateKey] [nvarchar](15) NULL,
	[Phone] [nvarchar](25) NULL,
	[BusinessType] [varchar](20) NOT NULL,
	[ResellerName] [nvarchar](50) NOT NULL,
	[NumberEmployees] [int] NULL,
	[OrderFrequency] [char](1) NULL,
	[OrderMonth] [tinyint] NULL,
	[FirstOrderYear] [int] NULL,
	[LastOrderYear] [int] NULL,
	[ProductLine] [nvarchar](50) NULL,
	[AddressLine1] [nvarchar](60) NULL,
	[AddressLine2] [nvarchar](60) NULL,
	[AnnualSales] [money] NULL,
	[BankName] [nvarchar](50) NULL,
	[MinPaymentType] [tinyint] NULL,
	[MinPaymentAmount] [money] NULL,
	[AnnualRevenue] [money] NULL,
	[YearOpened] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [SpendMD].[wrReseller] ON 

INSERT [SpendMD].[wrReseller] ([ResellerKey], [GeographyKey], [ResellerAlternateKey], [Phone], [BusinessType], [ResellerName], [NumberEmployees], [OrderFrequency], [OrderMonth], [FirstOrderYear], [LastOrderYear], [ProductLine], [AddressLine1], [AddressLine2], [AnnualSales], [BankName], [MinPaymentType], [MinPaymentAmount], [AnnualRevenue], [YearOpened]) VALUES (1, 637, N'AW00000001', N'245-555-0173', N'Value Added Reseller', N'A Bike Store', 2, N'S', 5, 2011, 2011, N'Road', N'2251 Elliot Avenue', NULL, 300000.0000, N'International Bank', NULL, NULL, 30000.0000, 1974)
INSERT [SpendMD].[wrReseller] ([ResellerKey], [GeographyKey], [ResellerAlternateKey], [Phone], [BusinessType], [ResellerName], [NumberEmployees], [OrderFrequency], [OrderMonth], [FirstOrderYear], [LastOrderYear], [ProductLine], [AddressLine1], [AddressLine2], [AnnualSales], [BankName], [MinPaymentType], [MinPaymentAmount], [AnnualRevenue], [YearOpened]) VALUES (2, 635, N'AW00000002', N'170-555-0127', N'Specialty Bike Shop', N'Progressive Sports', 10, N'A', 5, 2012, 2013, N'Mountain', N'3207 S Grady Way', NULL, 800000.0000, N'International Security', 1, NULL, 80000.0000, 1976)
INSERT [SpendMD].[wrReseller] ([ResellerKey], [GeographyKey], [ResellerAlternateKey], [Phone], [BusinessType], [ResellerName], [NumberEmployees], [OrderFrequency], [OrderMonth], [FirstOrderYear], [LastOrderYear], [ProductLine], [AddressLine1], [AddressLine2], [AnnualSales], [BankName], [MinPaymentType], [MinPaymentAmount], [AnnualRevenue], [YearOpened]) VALUES (3, 584, N'AW00000003', N'279-555-0130', N'Warehouse', N'Advanced Bike Components', 40, N'Q', 6, 2011, 2013, N'Road', N'12345 Sterling Avenue', NULL, 1500000.0000, N'Primary International', 2, NULL, 150000.0000, 1978)
GO
SET IDENTITY_INSERT [SpendMD].[wrReseller] OFF
GO
