/****** Object:  Table [SpendMD].[wrGeography]    Script Date: 7/17/2024 10:00:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SpendMD].[wrGeography](
	[GeographyKey] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](30) NULL,
	[StateProvinceCode] [nvarchar](3) NULL,
	[StateProvinceName] [nvarchar](50) NULL,
	[CountryRegionCode] [nvarchar](3) NULL,
	[EnglishCountryRegionName] [nvarchar](50) NULL,
	[SpanishCountryRegionName] [nvarchar](50) NULL,
	[FrenchCountryRegionName] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](15) NULL,
	[SalesTerritoryKey] [int] NULL,
	[IpAddressLocator] [nvarchar](15) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [SpendMD].[wrGeography] ON 

INSERT [SpendMD].[wrGeography] ([GeographyKey], [City], [StateProvinceCode], [StateProvinceName], [CountryRegionCode], [EnglishCountryRegionName], [SpanishCountryRegionName], [FrenchCountryRegionName], [PostalCode], [SalesTerritoryKey], [IpAddressLocator]) VALUES (1, N'Alexandria', N'NSW', N'New South Wales', N'AU', N'Australia', N'Australia', N'Australie', N'2015', 9, N'198.51.100.2')
INSERT [SpendMD].[wrGeography] ([GeographyKey], [City], [StateProvinceCode], [StateProvinceName], [CountryRegionCode], [EnglishCountryRegionName], [SpanishCountryRegionName], [FrenchCountryRegionName], [PostalCode], [SalesTerritoryKey], [IpAddressLocator]) VALUES (2, N'Coffs Harbour', N'NSW', N'New South Wales', N'AU', N'Australia', N'Australia', N'Australie', N'2450', 9, N'198.51.100.3')
INSERT [SpendMD].[wrGeography] ([GeographyKey], [City], [StateProvinceCode], [StateProvinceName], [CountryRegionCode], [EnglishCountryRegionName], [SpanishCountryRegionName], [FrenchCountryRegionName], [PostalCode], [SalesTerritoryKey], [IpAddressLocator]) VALUES (3, N'Darlinghurst', N'NSW', N'New South Wales', N'AU', N'Australia', N'Australia', N'Australie', N'2010', 9, N'198.51.100.4')
GO
SET IDENTITY_INSERT [SpendMD].[wrGeography] OFF
GO
