/****** Object:  View [SpendMD].[vbSalesSummaryByCategory]    Script Date: 7/17/2024 10:42:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [SpendMD].[vbSalesSummaryByCategory]
as 
select Categories ,SUM(salesAmount) as TotalAmount
from SpendMD.wrFinalData
group by Categories
GO
