/****** Object:  View [SpendMD].[vbReseller]    Script Date: 7/17/2024 10:42:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [SpendMD].[vbReseller]
AS
select * from SpendMD.wrReseller
GO
