/****** Object:  View [SpendMD].[vbSalesSummaryByRegion]    Script Date: 7/17/2024 10:42:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [SpendMD].[vbSalesSummaryByRegion] 
As
select region , sum(SalesAmount) as SumofAmount
from spendMD.wrFinalData
group by Region
GO
