/****** Object:  View [SpendMD].[vbsales]    Script Date: 7/17/2024 10:42:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [SpendMD].[vbsales]
as
select * from spendmd.wrFinalData
GO
