/****** Object:  View [SpendMD].[vbCustomer]    Script Date: 7/17/2024 10:42:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [SpendMD].[vbCustomer]
As
select * from SpendMD.wrCustomer
GO
