/****** Object:  View [SpendMD].[vbSalesSummaryByProduct]    Script Date: 7/17/2024 10:42:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [SpendMD].[vbSalesSummaryByProduct]
AS
Select productName,SalesAmount
from SpendMD.wrFinalData
GO
