/****** Object:  StoredProcedure [SpendMD].[spAdventureBL]    Script Date: 7/17/2024 10:07:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create 
  procedure [SpendMD].[spAdventureBL]
as 
begin
 
 TRUNCATE TABLE SpendMD.wrFinalData

 Insert into [SpendMD].[wrfinaldata](
  [ProductKey], [OrderDateKey], [DueDateKey], 
  [ShipDateKey], [CustomerKey], [ResellerKey], 
  [EmployeeKey], [PromotionKey], [CurrencyKey], 
  [SalesTerritoryKey], [SalesOrderNumber], 
  [SalesOrderLineNumber], [RevisionNumber], 
  [OrderQuantity], [UnitPrice], [ExtendedAmount], 
  [UnitPriceDiscountPct], [DiscountAmount], 
  [ProductStandardCost], [TotalProductCost], 
  [SalesAmount], [TaxAmt], [Freight], 
  [CarrierTrackingNumber], [CustomerPONumber], 
  [OrderDate], [DueDate], [ShipDate], 
  [SalesReasonKey], [Channel]
) 
Select 
  [ProductKey], 
  [OrderDateKey], 
  [DueDateKey], 
  [ShipDateKey], 
  [CustomerKey], 
  cast (null as int) [ResellerKey], 
  cast (null as int) [EmployeeKey], 
  [PromotionKey], 
  [CurrencyKey], 
  [SalesTerritoryKey], 
  [SalesOrderNumber], 
  [SalesOrderLineNumber], 
  [RevisionNumber], 
  [OrderQuantity], 
  [UnitPrice], 
  [ExtendedAmount], 
  [UnitPriceDiscountPct], 
  [DiscountAmount], 
  [ProductStandardCost], 
  [TotalProductCost], 
  [SalesAmount], 
  [TaxAmt], 
  [Freight], 
  [CarrierTrackingNumber], 
  [CustomerPONumber], 
  [OrderDate], 
  [DueDate], 
  [ShipDate], 
  [SalesReasonKey], 
  'Internet' as [Channel] 
from 
  (
    select 
      fs.*, 
      fd.SalesReasonKey 
    from 
      DevDB.SpendMD.FactInternetSales as fs 
      Left JOIN DevDB.SpendMD.FactInternetSalesReason as fd on fs.SalesOrderNumber = fd.SalesOrderNumber
  ) A 
UNION 
select 
  [ProductKey], 
  [OrderDateKey], 
  [DueDateKey], 
  [ShipDateKey], 
  cast (null as int) [CustomerKey], 
  [ResellerKey], 
  [EmployeeKey], 
  [PromotionKey], 
  [CurrencyKey], 
  [SalesTerritoryKey], 
  [SalesOrderNumber], 
  [SalesOrderLineNumber], 
  [RevisionNumber], 
  [OrderQuantity], 
  [UnitPrice], 
  [ExtendedAmount], 
  [UnitPriceDiscountPct], 
  [DiscountAmount], 
  [ProductStandardCost], 
  [TotalProductCost], 
  [SalesAmount], 
  [TaxAmt], 
  [Freight], 
  [CarrierTrackingNumber], 
  [CustomerPONumber], 
  [OrderDate], 
  [DueDate]S, 
  [ShipDate], 
  cast (null as int) [SalesReasonKey], 
  'Reseller' as [Channel] 
From 
  DevDB.SpendMD.FactResellerSales

update 
  wf 
set 
  wf.productname = wp.[englishproductname], 
  wf.productcolor = wp.[color], 
  wf.city = wg.[city], 
  wf.Region = wg.[EnglishCountryRegionName], 
  wf.territories = wt.[SalesTerritoryRegion], 
  wf.ResellerID = wr.ResellerAlternateKey, 
  wf.ResellerName = wr.ResellerName, 
  wf.ResellerType = wr.BusinessType, 
  wf.CustomerID = wc.CustomerAlternateKey, 
  wf.customerName = CONCAT(firstname, '', LastName), 
  wf.[Categories] = b.[EnglishProductCategoryName] 
from 
  spendmd.wrfinaldata as wf 
  left join SpendMD.wrProduct as wp on wf.ProductKey = wp.productkey 
  left join SpendMD.wrGeography as wg on wf.SalesTerritoryKey = wg.SalesTerritoryKey 
  left join SpendMD.wrSalesTerritory as wt on wf.SalesTerritoryKey = wt.SalesTerritoryKey 
  left join SpendMD.wrReseller as wr on wf.ResellerKey = wr.ResellerKey 
  left join SpendMD.wrCustomer as wc on wf.customerkey = wc.CustomerKey 
  join (
    select 
      Productkey, 
      s.ProductSubcategoryKey, 
      EnglishProductCategoryName 
    from 
      DevDB.SpendMD.wrProductSubcategory s 
      join DevDB.SpendMD.wrProductCategory c on s.ProductCategoryKey = c.ProductCategoryKey 
      join DevDB.SpendMD.wrProduct p on s.ProductSubcategoryKey = p.ProductSubcategoryKey
  ) b on WF.ProductKey = b.ProductKey 
where 
  b.[ProductSubcategoryKey] is not null

  
 UPDATE 
  Spendmd.wrFinalData 
SET 
  Qtr = CONVERT(
    varchar(4), 
    Year(
      cast(
        OrderDatekey as Varchar(8)
      )
    )
  ) + '-Q' + Convert(
    varchar(1), 
    Datepart(
      QUARTER, 
      cast(
        CAST(
          orderdatekey AS Varchar(8)
        ) as DATE
      )
    )
  )


UPDATE 
 Spendmd.wrFinalData 
SET 
  YearlyTotalByProduct = (
    SELECT 
      SUM(SalesAmount) 
    FROM 
      Spendmd.wrFinalData AS w 
    WHERE 
      w.ProductKey = Spendmd.wrFinalData.ProductKey 
      AND YEAR(
        CONVERT(
          datetime, 
          CONVERT(
            char(8), 
            w.OrderDateKey
          )
        )
      ) = YEAR(
        CONVERT(
          datetime, 
          CONVERT(
            char(8), 
            Spendmd.wrFinalData.OrderDateKey
          )
        )
      )
  );

    UPDATE 
  Spendmd.wrFinalData 
SET 
AverageSaleByProductYear = (
    SELECT 
      avg(SalesAmount) 
    FROM 
      Spendmd.wrFinalData AS w 
    WHERE 
      w.ProductKey = Spendmd.wrFinalData.ProductKey 
      AND YEAR(
        CONVERT(
          datetime, 
          CONVERT(
            char(8), 
            w.OrderDateKey
          )
        )
      ) = YEAR(
        CONVERT(
          datetime, 
          CONVERT(
            char(8), 
            Spendmd.wrFinalData.OrderDateKey
          )
        )
      )
  );



    UPDATE 
  Spendmd.wrFinalData 
SET 
CummulativeSumByProductByMonth = (
    SELECT 
      sum(SalesAmount) 
    FROM 
      Spendmd.wrFinalData AS w 
    WHERE 
      w.ProductKey = Spendmd.wrFinalData.ProductKey 
      AND month(
        CONVERT(
          datetime, 
          CONVERT(
            char(8), 
            w.OrderDateKey
          )
        )
      ) = month(
        CONVERT(
          datetime, 
          CONVERT(
            char(8), 
            Spendmd.wrFinalData.OrderDateKey
          )
        )
      )
  );

   

  UPDATE 
  Spendmd.wrFinalData 
SET 
  MovingAverageByProductByMonth = (
    SELECT 
      AVG(
        CAST(
          SalesAmount AS DECIMAL(18, 2)
        )
      )
    FROM 
      Spendmd.wrFinalData AS sub 
    WHERE 
      (sub.OrderDateKey / 10000) = (
        Spendmd.wrFinalData.OrderDateKey / 10000
      ) 
      AND (
        (sub.OrderDateKey / 100) % 100
      ) <= (
        Spendmd.wrFinalData.OrderDateKey % 100
      ) 
      AND sub.ProductKey = Spendmd.wrFinalData.ProductKey
  ) Print(
    'Add MovingAverageByProductByMonth column '
  )
 end
 
GO
